<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %} {% endblock %}</title>
    <!-- Collegamento ai file CSS di Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleNavbar.css') }}">
    {% block cssjs %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='images/Logo Mangarealm.svg') }}" width="40" height="40" alt="">
            </a>
            <form class="form-inline" action="/" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Enter manga title"
                        aria-label="Enter manga title" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </div>
                </div>
                &nbsp;&nbsp;
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <img src="{{ url_for('static', filename='images/impostazioniRicerca.svg') }}">
                </button>
            </form>
            <div class="ml-auto">
                <a href="/login" class="btn btn-outline-primary mr-2">Login</a>
                <a href="/register" class="btn btn-outline-primary">Register</a>
            </div>
        </div>
    </nav>

    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <form method="POST" name="filter" action="/" class="form-inline d-flex justify-content-center">
                <h3 style="color: white">Filtra Manga:</h3>

                <br><br>

                <div class="form-group mx-sm-3 mb-2">
                    <select name="genre" class="form-control">
                        <option value="">All Genres</option>
                        {% for genre in genres %}
                        <option value="{{ genre[0] }}">{{ genre[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <select name="author" class="form-control">
                        <option value="">All Authors</option>
                        {% for author in people %}
                        <option value="{{ author[0] }}">{{ author[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <br><br>

                <div class="form-group mx-sm-3 mb-2">
                    <select name="artist" class="form-control">
                        <option value="">All Artists</option>
                        {% for artist in people %}
                        <option value="{{ artist[0] }}">{{ artist[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mx-sm-3 mb-2">
                    <select name="year" class="form-control">
                        <option value="">All Years</option>
                        {% for year in range(1950,2022) %}
                        <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="btn btn-primary mb-2">Filter</button>
            </form>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>