{% extends "base.html" %}

{% block pagetitle %}
capitolo {{ chp }}
{% endblock %}

{% block cssjs %}


{% endblock %}

{% block content %}
    <select onchange="location = this.value;">
        {% for chap in chapters %}
            {% if chap[1]==chp %}
                <option selected value="/manga/{{ chap[-1] }}/capitolo/{{ chap[1] }}"> Capitolo - {{ chap[1] }} </option>
            {% else %}
                <option value="/manga/{{ chap[-1] }}/capitolo/{{ chap[1] }}"> Capitolo - {{ chap[1] }} </option>
            {% endif %}
        {% endfor %}   
    </select>    
    <!-- controllo è aggiunta del bottone per il capitolo precendente (se esiste) -->
    {% if chapters[0][1]!=chp %}
        <a href="/manga/{{ chapters[0][-1] }}/capitolo/{{ chp-1 }}"> Capitolo Precedente</a>
    {% endif %}

    <!-- controllo è aggiunta del bottone per il capitolo successivo (se esiste) -->
    {% if chapters[-1][1]!=chp %}
        <a href="/manga/{{ chapters[0][-1] }}/capitolo/{{ chp+1 }}"> Capitolo successivo</a>
    {% endif %}

    <!-- inserimento immagini all'interno della pagina -->
    {% for img in imgs %}
        <img src="{{ img }}">
    {% endfor %}

{% endblock %}