<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MangaRealm</title>
    <!-- Collegamento ai file CSS di Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Collegamento al file CSS personalizzato -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="d-flex justify-content-center w-100">
            <a class="navbar-brand" href="#">
                <img src="static/images/mangarealm-logo.png" width="40" height="40" alt="">
            </a>
            <form class="form-inline" action="/" method="POST">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Enter manga title" aria-label="Enter manga title" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </div>
                </div>
                &nbsp;&nbsp;
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <img src="static/images/impostazioniRicerca.svg">
                </button>
            </form>
            <div class="ml-auto">
                <a href="login.html" class="btn btn-outline-primary mr-2">Login</a>
                <a href="register.html" class="btn btn-outline-primary">Register</a>
            </div>
        </div>
    </nav>

<div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <form method="POST" name="filter" action="/" class="form-inline d-flex justify-content-center">
            <h3 style="color: white">Filtra Manga:</h3>

            <br><br>

            <div class="form-group mx-sm-3 mb-2">
                <select name="genre" class="form-control">
                    <option value="">All Genres</option>
                    {% for genre in genres %}
                    <option value="{{ genre[0] }}">{{ genre[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <select name="author" class="form-control">
                    <option value="">All Authors</option>
                    {% for author in people %}
                    <option value="{{ author[0] }}">{{ author[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            <br><br>

            <div class="form-group mx-sm-3 mb-2">
                <select name="artist" class="form-control">
                    <option value="">All Artists</option>
                    {% for artist in people %}
                    <option value="{{ artist[0] }}">{{ artist[1] }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <select name="year" class="form-control">
                    <option value="">All Years</option>
                    {% for year in range(1950,2022) %}
                    <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-primary mb-2">Filter</button>
        </form>
    </div>
</div>




    <br><br>

    <center>
        <div class="search-results">
            {% if manga_data %}
                <div class="row">
                    {% for manga in manga_data %}
                        <div class="col-md-6 col-lg-4">
                            <div class="card mb-4">
                                <img src="{{ manga[3] }}" alt="Cover Image" class="card-img-top" style="max-height: 400px;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ manga[1] }}</h5>
                                    <div class="genres">
                                        {{ manga[5] }}
                                    </div>
                                    <p class="card-text author-artist">
                                        <span class="font-weight-bold">Author:</span> {{ manga[6] }}<br>
                                        <span class="font-weight-bold">Artist:</span> {{ manga[7] }}
                                    </p>
                                    <p class="card-text summary fog">{{ manga[2] }}</p>
                                    <a href="/manga/{{ manga[0] }}" class="btn btn-primary">Inizia a leggerlo</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <center>  <h2>No results found</h2> </center>
            {% endif %}
        </div>
    </center>

</body>
</html>
