{% extends "base.html" %}

{% block pagetitle %}
Home
{% endblock %}

{% block cssjs %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleIndex.css') }}">
{% endblock %}

{% block content %}
<br><br>
<center>
    <div class="search-results">
        {% if manga_data %}
        <div class="row">
            {% for manga in manga_data %}
            <div class="col-md-6 col-lg-4">
                <div class="card mb-4">
                    <img src="{{ manga[3] }}" alt="Cover Image" class="card-img-top" style="max-height: 400px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ manga[1] }}</h5>
                        <div class="genres">
                            {{ manga[5] }}
                        </div>
                        <p class="card-text author-artist">
                            <span class="font-weight-bold">Author:</span> {{ manga[6] }}<br>
                            <span class="font-weight-bold">Artist:</span> {{ manga[7] }}
                        </p>
                        <p class="card-text summary fog">{{ manga[2] }}</p>
                        <a href="/manga/{{ manga[0] }}" class="btn btn-primary">Inizia a leggerlo</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <center>
            <h2>No results found</h2>
        </center>
        {% endif %}
    </div>
</center>
{% endblock %}