{% extends "base.html" %}
{% block pagetitle %}
Login
{% endblock %}
{% block cssjs %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleLogin.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Login</h1>
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <form action="/complete_login" method="POST">
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Register</a></p>
</div>
{% endblock %}