{% extends "base.html" %}

{% block pagetitle %}
{{ manga[1] }}
{% endblock %}

{% block cssjs %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleManga.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xx+8mISDoMyFqN2C4jnUfndFv9VCQ9kHXfGrFjNn+2Yr9bJe6qrCt/9iC1fY+jwwM3JbU6TD53CmrqQGvzgNpw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}


    <br><br>
    <div class="container" style="border-radius: 20px">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ manga[3] }}" alt="Cover Image" class="img-fluid cover-image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">{{ manga[1] }}</h1>
                        <div class="genres">
                            <span class="font-weight-bold">Generi:</span>
                            {% for genre in manga[5].split(', ') %}
                            <span class="genre">{{ genre }}</span>
                            {% endfor %}
                        </div>
                        <p class="author-artist">
                            <span class="font-weight-bold">Author:</span> {{ manga[6] }}<br>
                            <span class="font-weight-bold">Artist:</span> {{ manga[7] }}
                        </p>
                        <p class="anno">
                            <span class="font-weight-bold">Anno di uscita:</span> {{ manga[4]|int }}<br>
                        </p>


                        <span class="font-weight-bold">Trama:</span>
                        <p class="summary">{{ manga[2] }}</p>

                        <a href="/manga/{{ manga[0] }}/capitolo/{{ chapters[-1][1] }}" class="btn btn-dark mr-1 mt-1">
                            <i class="fa fa-angle-left" aria-hidden="true"/>
                             Ultimo capitolo
                        </a>
                        <a href="/manga/{{ manga[0] }}/capitolo/{{ chapters[0][1] }}" class="btn btn-dark mr-1 mt-1">
                            <i class="fa fa-angle-left" aria-hidden="true"/>
                             Primo capitolo
                        </a>
                        
                        {% if user["user_id"] %}
                        <form method="POST" action="/actionfavorite/{{ manga[0] }}">
                            {% if preferito==False %}
                            <button type="submit" class="btn btn-warning" id="favorite-button"  style="margin-top: 5px; background-color: rgb(248, 248, 176);">&#9734; Preferiti
                            </button>
                                {% else %}
                                <button type="submit" class="btn btn-warning" id="favorite-button"  style="margin-top: 5px;"> &#x2605; Preferiti
                                </button>
                                {% endif %}
                                
                        </form>
                        {% endif %}
                        




                    </div>
                </div>
            </div>

        </div>
        <a href="/" class="btn btn-primary">Back to Search</a>


    </div>

<br>

<div class="capitoliCommenti" style="border-radius: 20px">
    <div id="accordion">
        <div class="card" style="border: 2px solid red; border-radius: 20px">
            <div class="card-header text-center" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h3>Capitoli <i class="fas fa-chevron-down"></i></h3>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    {% for chap in chapters %}
                        <a href="/manga/{{ manga[0] }}/capitolo/{{ chap[1] }}" class="chapter-link"><h5>Capitolo {{ chap[1] }}</h5></a><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>

    <div id="accordion">
        <div class="card" style="border: 2px solid blue; border-radius: 20px">
            <div class="card-header text-center" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h3>Commenti <i class="fas fa-chevron-down"></i></h3>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                {% if user["user_id"] %}
                <div>
                    <form method="POST" action="/addcomment/{{ manga[0] }}">
                        <center>
                            <input type="hidden" name="idutente" value="{{ user['user_id'] }}">
                            <textarea rows="8" style="width:90%;" name="contenuto"></textarea>
                            <br>
                            <button type="submit">Aggiungi</button>
                        </center>
                    </form>
                </div>
                {% endif %}
                <div class="card-body text-center">
                    {% for commento in comments %}
                        <div class="commento">
                            {% if user["admin"]==True %}
                                <form method="POST" action="/deletecomment/{{ manga[0] }}" >
                                    <center>
                                        <input type="hidden" name="idcommento" value="{{ commento[0] }}">
                                        <a href="/account/{{ commento[-2] }}">{{ commento[-1] }} #{{ commento[-2] }}</a>
                                        <button type="submit" style="background-color: white; border: none;"><img src="{{ url_for('static', filename='images/delete.svg') }}"></button>
                                        <br>
                                        <p>{{ commento[1] }}</p>
                                    </center>
                                </form>
                            {% else %}
                                <center>
                                    <a href="/account/{{ commento[-2] }}">{{ commento[-1] }} #{{ commento[-2] }}</a>
                                    <br>
                                    <p>{{ commento[1] }}</p>
                                </center>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <br>
    {% if user["user_id"] %}
        <div style="border: 2px rgb(0, 252, 168) solid; margin: 2px; border-radius: 20px">
            <button type="button" class="btn btn-block" onclick="consigliami()">
                <input type="hidden" id="advice" value=" {{ manga[1] }} "> 
                <h3 class="text-center">Consigli</h3>
                <center>
                    <img src="{{ url_for('static', filename='images/wait.svg') }}" style="display: none;" id="wait">
                </center>
                <div id="testo-consiglio" class="text-center"></div>
            </button>
            <script src="{{ url_for('static', filename='chat.js') }}"></script>
        </div>
    {% endif %}




</div>



{% endblock %}
