{% extends "base.html" %}

{% block pagetitle %}
{{ manga[1] }}
{% endblock %}

{% block cssjs %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleManga.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ manga[3] }}" alt="Cover Image" class="img-fluid cover-image">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h1 class="card-title">{{ manga[1] }}</h1>
                        <div class="genres">
                            <span class="font-weight-bold">Generi:</span>
                            {% for genre in manga[5].split(', ') %}
                            <span class="genre">{{ genre }}</span>
                            {% endfor %}
                        </div>
                        <p class="author-artist">
                            <span class="font-weight-bold">Author:</span> {{ manga[6] }}<br>
                            <span class="font-weight-bold">Artist:</span> {{ manga[7] }}
                        </p>
                        <p class="anno">
                            <span class="font-weight-bold">Anno di uscita:</span> {{ manga[4]|int }}<br>
                        </p>


                        <span class="font-weight-bold">Trama:</span>
                        <p class="summary">{{ manga[2] }}</p>

                        <a href="/manga/{{ manga[0] }}/capitolo/{{ chapters[-1][1] }}" class="btn btn-dark mr-1 mt-1">
                            <i class="fa fa-angle-left" aria-hidden="true"/>
                             Ultimo capitolo
                        </a>
                        <a href="/manga/{{ manga[0] }}/capitolo/{{ chapters[0][1] }}" class="btn btn-dark mr-1 mt-1">
                            <i class="fa fa-angle-left" aria-hidden="true"/>
                             Primo capitolo
                        </a>

                      <button type="button" class="btn btn-warning" id="favorite-button" onclick="toggleFavorite()">
                        &#9734; Preferiti
                      </button>






                    </div>
                </div>
            </div>

        </div>
        <a href="/" class="btn btn-primary">Back to Search</a>
        <div id="Commenti" style=" border: 2px rgb(0, 0, 0) solid; margin: 2px;">
            <h3>Commenti</h3>
            {% for commento in comments %}
                <div class="commento" style=" border: 2px rgb(6, 248, 248) solid; margin: 2px;">
                    <a href="/profile/{{ commento[-2] }}">{{ commento[-1] }} #{{ commento[-2] }}</a><br>
                    <p>{{ commento[1] }} </p>
                </div>
            {% endfor %}
        </div>
        <div id="capitoli" style=" border: 2px rgb(255, 0, 0) solid; margin: 2px;">
            <h3>Capitolo</h3>
            {% for chap in chapters %}
                <a href="/manga/{{ manga[0] }}/capitolo/{{ chap[1] }}">capitolo {{ chap[1] }}</a><br>
            {% endfor %}
        </div>
        <div style=" border: 2px rgb(0, 252, 168) solid; margin: 2px;">
            <h1>Consigli</h1>
            <button id ="advice" value="{{ manga[1] }}" onclick="consigliami()">Consiglio</button>
            <div id="testo-consiglio">
    
            </div>
            <script src="{{ url_for('static', filename='chat.js') }}"></script>
        </div>
    </div>
    
{% endblock %}
