{% extends "base.html" %}

{% block pagetitle %}
{{utente.ID}} - {{utente.nickname}}
{% endblock %}

{% block cssjs %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styleProfile.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="container">
        <div class="container my-5">
            <div class="row text-center">
                <div class="col-5">
                    <div class="container">
                        <img src="" alt="immagine profilo">
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <h6>Nome: {{utente.nome}}</h6>
                                </div>
                                <div class="col">
                                    <h6>Cognome: {{utente.cognome}}</h6>
                                </div>
                                <div class="col">
                                    <h6>Data di nascita: {{utente.data_Nascita}}</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h6>ID: {{utente.ID}}</h6>
                                </div>
                                <div class="col">
                                    <h6>email: {{utente.email}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if user['user_id'] %}
            {% if user['user_id']!=utente.ID|string %}
            <center>
                <form method="POST"  action="/actionfollower/{{ utente.ID }}">
                {% if segue %}
                <button type="submit" class="btn btn-warning" id="favorite-button"  style="margin-top: 5px;"> Rimuovi dai Seguiti</button>
                
                {% else %}
                <button type="submit" class="btn btn-warning" id="favorite-button"  style="margin-top: 5px; background-color: rgb(248, 248, 176);"> Segui
                    </button>
                {% endif %}
                </form>
            </center>
            {% endif %}
        {% endif %}
        <div>
            <div class="container">
                <h5>Manga visti:</h5>
                <div id="manga_visti" class="container my-2">
                    <ul class="list-group list-group-horizontal-sm">
                        {% for manga in utente.manga_visti %}
                        <li title="{{manga[1]}} - {{manga[2]}}" class="list-group-item mx-2">
                            <a href="/manga/{{manga[0]}}">
                                <img height="300px" src="{{ manga[3] }}" alt="Cover Image" class="card-img-top">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <hr>
            <div class="container">
                <h5>Manga piaciuti:</h5>
                <div id="manga_piaciuti" class="container my-2">
                    <ul class="list-group list-group-horizontal-sm">
                        {% for manga in utente.manga_piaciuti %}
                        <li title="{{manga[1]}} - {{manga[2]}}" class="list-group-item mx-2">
                            <a href="/manga/{{manga[0]}}">
                                <img height="300px" src="{{ manga[3] }}" alt="Cover Image" class="card-img-top">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <center>
            <h3>SEGUE</h3>
               {% for seguito in seguiti %}
               <a href="/account/{{ seguito[0] }}"><h3>{{ seguito[1] }}#{{ seguito[0] }}</h3></a>
               {% endfor %}
            </form>
        </center>
        
    </div>
</div>
</div>



{% endblock %}