.navbar-brand .logo {
    max-height: 50px;
    margin-right: 10px;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0;
    cursor: pointer;
}

.navbar-toggler:focus {
    outline: none;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
}